.offices {
  padding-bottom: 110px;
}

.offices__map-wrapper {
  background-color: #f6f7ff;
}

.offices__checkbox-group {
  padding: 42px 0 24px;
  text-align: center;
}

.offices__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 14px;
    margin-right: 26px;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      flex-shrink: 0;
      flex-grow: 0;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      border: 1px solid #2c36f2;
      border-radius: 2px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &:checked + label::before {
    background-color: #2c36f2;
    background-image: url("../img/checkbox.svg");
  }
}

.offices__map {
  width: 100%;
  height: 462px;
}

@media (max-width: 1199px) {
  .offices {
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .offices {
    padding-bottom: 55px;
  }

  .offices__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offices__map-wrapper {
    position: relative;
    width: 320px;
  }

  .offices__checkbox-group {
    padding: 20px 0 20px;
    text-align: center;
  }

  .offices__checkbox + label {
    margin-right: 20px;
  }

  .offices__map {
    height: 381px;
  }
}
