.popup-container {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #e5e5e5;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.popup {
  position: relative;
  z-index: 2000;
}

.popup__login {
  display: none;
  width: 544px;
  border: 4px solid #2c36f2;
  background-color: #f6f7ff;
  padding: 60px;
  margin: auto;
}

.popup__login-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.popup__login-logo {
  position: relative;
  padding-left: 38px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 30px;
    height: 27px;
    background-image: url("../img/logo.svg");
    background-size: cover;
  }
}

.popup__login-name {
  font-size: 20px;
  font-weight: 500;
}

.popup__login-bank {
  font-size: 12px;
}

.popup__close {
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
}

.popup__close-1 {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: -2px;
  height: 2px;
  width: 21px;
  background-color: #1f1e25;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.popup__close-2 {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: -2px;
  height: 2px;
  width: 21px;
  background-color: #1f1e25;
  transform: rotate(315deg);
  transition: all 0.5s;
}

.popup__login label {
  display: block;
  font-size: 16px;
  color: #394959;
  margin-bottom: 10px;
}

.popup__login-login,
.popup__login-password {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: 1px solid #1f1e25;
  border-radius: 4px;
  font-size: 16px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.popup__login-login {
  margin-bottom: 30px;
}

.popup__password-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.popup__show-password {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.popup__show-password+label {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  width: 22px;
  height: 12px;
  background-image: url("../img/show-password.svg");
  background-size: cover;
  border: none;
  border-radius: 0;
}

.popup__show-password:checked+label {
  background-color: transparent;
  background-image: url("../img/show-password.svg");
}

.popup__forgot {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #707c87;
  margin-bottom: 30px;

  &:hover {
    text-decoration: underline;
  }
}

.popup__login-submit {
  width: 100%;
  height: 60px;
  background-color: #2c36f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #f6f7ff;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.5s;

  &:hover {
    opacity: 0.75;
    text-decoration: underline;
    transform: all 0.5s;
  }
}

@media (max-width: 1199px) {
  .popup {
    width: 678px;
  }

  .popup__login {
    width: 100%;
    padding: 60px 88px;
  }
}

@media (max-width: 767px) {
  .popup {
    width: 290px;
  }

  .popup__login {
    padding: 50px 20px;
  }

  .popup__close {
    width: 12px;
    height: 12px;
  }

  .popup__close-1,
  .popup__close-2 {
    width: 15px;
    left: -1px;
    top: 5px;
  }

  .popup__login-login {
    margin-bottom: 25px;
  }

  .popup__show-password+label {
    right: 15px;
  }

  .popup__form {
    display: flex;
    flex-direction: column;
  }

  .popup__login-submit {
    font-size: 14px;
    height: 51px;
    margin-bottom: 15px;
    order: 5;
  }

  .popup__password-wrapper {
    margin-bottom: 30px;
  }

  .popup__forgot {
    order: 6;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
  }
}

.popup__message {
  display: none;
  width: 500px;
  background-color: #f6f7ff;
  border-radius: 4px;
  padding: 60px 58px;
}

.popup__text-main {
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 20px;
}

.popup__text-below {
  font-size: 16px;
  line-height: 140%;
  color: #394959;
}

@media (max-width: 1199px) {
  .popup__message {
    width: 100%;
    padding: 60px;
  }

  .popup__text-main {
    max-width: 360px;
  }

  .popup__text-below {
    max-width: 260px;
  }
}

@media (max-width: 767px) {
  .popup__message {
    padding: 40px 15px;
  }

  .popup__text-main {
    font-size: 18px;
  }
}

.popup__thanks {
  display: none;
  position: relative;
  width: 500px;
  background-color: #f6f7ff;
  border-radius: 4px;
  padding: 60px;
  text-align: center;
}

.popup__close_thanks {
  position: absolute;
  top: 25px;
  right: 25px;
}


@media (max-width: 1199px) {
  .popup__thanks {
    width: 100%;
  }

  .popup__close_thanks {
    top: 30px;
    right: 30px;
  }

  .popup__text-main_thanks {
    max-width: none;
  }

  .popup__text-below_thanks {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .popup__thanks {
    padding: 40px 23px;
  }

  .popup__close_thanks {
    top: 15px;
    right: 15px;
  }
}